<h1>All Stores Details</h1>
<div class="newform">

<!-- <input type="button" name="" value="Add New Store"> -->
<input class="btn btn-success" type="submit" name="submit_reg" value="Add New Store" 
(click)="goSearch()"><a routerLink="/new--store-form"></a>
	
</div>

<ul class="nav nav-pills nav-stacked">
  <li *ngFor="let store of stores"><a>{{store.title}}</a></li>
</ul>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Store Name</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Mobile Number</th>
      <th scope="col">Address</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>@mdo</td>
      <td>mdo@gmail.com</td>
      <td>8786778664</td>
      <td>xxxxxxxxx</td>

    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>@fat</td>
      <td>fat@gmail.com</td>
      <td>7877879099</td>
      <td>xxxxxxxxx</td>

    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>@twitter</td>
      <td>twitter@gmail.com</td>
      <td>8787990988</td>
      <td>xxxxxxxxx</td>

    </tr>
  </tbody>
</table>

